@import '@crocoder-dev/components/lib/scss/main.module.scss';

.section > div {
  width: 100%;
}
.section {
  padding-top: 0;
  padding-bottom: 0;
  margin: 42px auto;
  overflow: visible;
  @include mediaQuery(">=mobile") {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.filter {
  filter: grayscale(100%);
}
.card {
  width: 100%;
  padding-left: 30px;
  box-sizing: border-box;
}

.grid {
  background-color: transparent;
  grid-template-columns: 65px 65px repeat(2, minmax(0, 1fr));
  grid-template-rows: auto auto;
  margin: auto;
  max-width: $card__content--max-width;
}

.upper {
  text-transform: uppercase;
}

.link {
  color: inherit;
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
  text-decoration: none;
}

.text {
  column-gap: 15px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: auto auto auto auto;
  row-gap: 10px;
}

.image {
  background-color: transparent;
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
  height: auto;
  width: 100%;
  z-index: 1;
}


.upper {
  grid-column: 1 / span 5;
  grid-row: 1 / span 1;
}

.title {
  @include ellipsis();
  align-self: center;
  grid-column: 1 / span 5;
  grid-row: 2 / span 1;
}

.location {
  @include ellipsis();
  align-self: center;
  grid-column: 4 / span 2;
  grid-row: 2 / span 1;
}

.tags {
  color: $gray_2;
  grid-column: 1 / span 5;
  grid-row: 4 / span 1;
}

@include mediaQuery(">=mobile", "<tabletPortrait") {

  .section {
    margin: 30px auto;
  }

  .grid {
    grid-template-columns: auto;
    grid-template-rows: 50px;
  }

  .link {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .image {
    display: none;
  }

  .card {
    padding-left: 0;
  }

  .text {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .title, .upper, .location {
    grid-column: 1 / span 1;
    grid-row: auto;
  }

  .title {
    box-sizing: border-box;
    white-space: normal;
  }

  .tags {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }
}