@import "@crocoder-dev/components/lib/scss/main.module.scss";

.section {
  width: 100%;
}

.title {
  margin: 0;
  margin-bottom: 25px;
}

.active {
  text-decoration: underline;
  font-weight: 700 !important;
}

.grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 450px;
  column-gap: 35px;
  row-gap: 35px;
}

.startupTitle {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.businessTitle {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.card {
  visibility: hidden;
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  margin: 0;
  max-width: 800px;
  justify-self: center;
  opacity: 0;
  transition: opacity 1s ease;

  ul {
    padding-inline-start: 20px;
  }

  &.small:nth-child(2n) {
    grid-column: 1 / span 1;
  }
  &.small:nth-child(2n + 1) {
    grid-column: 2 / span 1;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.headline {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;

  & em {
    font-style: normal;
    font-weight: 600;
    color: $green_4;
  }
  & span:nth-child(2) > em {
    opacity: 0;
    transition: opacity 0.7s ease 0.5s;
    visibility: hidden;
  }

  &.visible span:nth-child(2) > em {
    visibility: visible;
    opacity: 1;
  }
}

// Size at which we need to stop showing only active offers
// but show all at once, underneath each other
@include mediaQuery("<1000px") {
  .card,
  .headline,
  .card.small:nth-child(2n),
  .card.small:nth-child(2n + 1),
  .headline span:nth-child(2) > em {
    visibility: visible;
    opacity: 1;
    grid-row: auto;
    grid-column: 1 / span 2;
  }

  .title {
    padding-left: 20px;
    padding-top: 30px;
  }

  .grid {
    row-gap: 15px;
  }
  .headline {
    padding: 10px 20px 30px;
  }

  .businessTitle,
  .startupTitle {
    text-align: left;
    grid-row: auto;
    grid-column: 1 / span 2;
    margin: 10px 0;
    padding-left: 20px;

    & > span {
      text-decoration: underline;
      font-weight: 700 !important;
    }
  }
}


@include mediaQuery("<700px") {
  .headline {
    flex-wrap: wrap !important;
    & > span, & > button {
      flex-basis: 100%;
      margin-left: 0 !important;
      margin-top: 10px;
      text-align: center;
    }
  }
}