@import "@crocoder-dev/components/lib/scss/main.module.scss";

$limit: 400;

:export {
  limit: $limit;
}

.section {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image {
  height: 200px;
  width: 100%;
  margin-left: 20px;
  @include mediaQuery("<tabletLandscape") {
    margin-top: 15px;
    margin-left: 0px;
    height: 150px;
  }
}

.paragraph {
  margin-top: 25px;
  line-height: 1.8;
  em {
    font-style: normal;
    font-weight: 600;
  }
}

.description > div {
  line-height: 1.8;
  min-height: 115px;
}

.descriptionTitle {
  margin-bottom: 15px;
}

.tabs {
  margin-top: 35px;

  &__tabList {
    @include mediaQuery("<400px") {
      max-width: 100%;
      padding-left: 20%;
      padding-right: 20%;
    }
  }

  &__panelList { 
    
    height: auto;
    min-height: 250px;

    @include mediaQuery("<tabletPortrait") {
      min-height: 410px;
    }
    @include mediaQuery("<tabletLandscape", ">=tabletPortrait") {
      min-height: 340px;
    }

    &__panel {
      margin-top: 45px;
      padding: 0px;
      display: flex;
      align-items: center;
      @include mediaQuery("<tabletLandscape") {
        flex-direction: column;
      }
    }
  }

}





