@import '../../styles/main.module.scss';

$sizes: (
  // (maxSize, minSize)
  "12": (12, 10),
  "14": (14, 12),
  "16": (16, 14),
  "18": (18, 14),
  "20": (20, 14),
  "22": (22, 14),
  "24": (24, 14),
  "26": (26, 16),
  "30": (30, 20),
  "34": (34, 20),
  "36": (36, 26),
  "44": (44, 25),
  "50": (50, 25),
  "65": (65, 34),
);

$weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;

h1.typography { @include getFluidFontSize(34, 65); font-family: 'Rubik', sans-serif; @include setMaxFontSize(65) }
h2.typography { @include getFluidFontSize(25, 50); font-family: 'Rubik', sans-serif; @include setMaxFontSize(50)}
h3.typography { @include getFluidFontSize(20, 34); font-family: 'Rubik', sans-serif; @include setMaxFontSize(34)}
h4.typography { @include getFluidFontSize(20, 30); font-family: 'Rubik', sans-serif; @include setMaxFontSize(30)}
h5.typography { @include getFluidFontSize(14, 24); font-family: 'Rubik', sans-serif; @include setMaxFontSize(24)}
h6.typography { @include getFluidFontSize(14, 20); font-family: 'Rubik', sans-serif; @include setMaxFontSize(20)}

.typography {
  transition: font-size  0.7s cubic-bezier(0, 0.55, 0.45, 1);
  line-height: normal;
  font-family: 'Roboto', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}
.rubik {
  font-family: 'Rubik', sans-serif;
}

// Dynamic color class definition
@each $name, $value in $colors {
  .color#{$name} {
    color: $value;
  }
}

// Dynamic font-weight class definition
@each $value in $weight {
  .weight#{$value} {
    font-weight: $value;
  }
}

// Dynamic fluid font-size definition
@each $name, $value in $sizes {
  $maxValue: nth($value, 1);
  $minValue: nth($value, 2);

  .typography.size#{$name} {
    @include getFluidFontSize($minValue, $maxValue);
    @include setMaxFontSize($maxValue)
  }
}

.sizeInherit {
  font-size: inherit;
}

.sizeUnset {
  font-size: unset;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}