@import './_media.scss';

$section__padding--desktop: 100px 0;
$section__padding--tablet: 75px 50px;
$section__padding--mobile: 40px;

$base__padding--desktop: 100px;
$base__padding--tablet: 50px;
$base__padding--mobile: 40px;
