/**
  CroCoder Color Definitions
*/
$blue_1: #2985DF;
$blue_2: #3D4EDE;
$blue_3: #47BBE0; 
$blue_4: #4E25A3;
$blue_5: #5362DB;
$blue_6: #F6FCFD;

$gray_1: #3C3843;
$gray_2: #424C6D;
$gray_3: #545664;
$gray_4: #A3A7B4;
$gray_5: #E8E8E8;
$gray_6: #7D8397;
$gray_7: #1E1A1A;
$gray_8: #504040;
$gray_9: #340E0D;
$gray_10: #726666;
$gray_11: #71768B;
$gray_12: #828282;

$green_1: #539500;
$green_2: #67A807;
$green_4: #85A32A;
$green_5: #98B534;

$orange_1: #FF8C17;
$orange_2: #FFB183;
$orange_3: #FFCFAC;
$orange_4: #FFA716;

$red_1: #8E4A51;
$red_2: #C97771;
$red_3: #E17871;
$red_4: #FB2A2A;
$red_5: #FB5D2A;

$white: #FFF;

$yellow_1: #FEB534;
$yellow_2: #FEC343;
$yellow_3: #FED152;
$yellow_4: #FFB817;
$yellow_5: #FFCA36;



/**
  CroCoder Color Decisions
*/

$primary: $green_4;
$primary_light: rgba(151,181,52,90%); // green_5 with 90% opacity
$secondary: $yellow_2;
$secondary_light:  rgba(254,209,82, 90%);  // yellow_3 with 90% opacity
$contrast: $gray_7;

// Available background colors. Useful for section backgrounds
$background_light: $white;
$background_dark: $gray_1;
$background_base: $blue_6;

// Colors what can be used for displaying larger text content such
// as paragraphys
$text_1: $gray_2;
$text_2: $gray_6;
$text_3: $gray_4;
$text_4: $blue_2;
$text_base: $text_1;

// Colors useful for displaying positive and negative states
$negative: $red_4;
$negative_contrast: $gray_9;
$positive: $green_1;
$positive_contrast: $gray_7;




/** Color map of all available colors **/
$colors: (
  "primary": $primary,
  "primary_light": $primary_light,
  "secondary": $secondary,
  "secondary_light": $secondary_light,
  "contrast": $contrast,
  "positive": $positive,
  "positive_contrast": $positive_contrast,
  "negative_contrast": $negative_contrast,
  "negative": $negative,
  "background_light": $background_light,
  "background_dark": $background_dark,
  "background_base": $background_base,
  "text_1": $text_1,
  "text_2": $text_2,
  "text_3": $text_3,
  "text_4": $text_4,
  "text_base": $text_base,
  "blue_1": $blue_1,
  "blue_2": $blue_2,
  "blue_3": $blue_3,
  "blue_4": $blue_4,
  "blue_5": $blue_5,
  "blue_6": $blue_6,
  "gray_1": $gray_1,
  "gray_2": $gray_2,
  "gray_3": $gray_3,
  "gray_4": $gray_4,
  "gray_5": $gray_5,
  "gray_6": $gray_6,
  "gray_7": $gray_7,
  "gray_8": $gray_8,
  "gray_9": $gray_9,
  "gray_10": $gray_10,
  "gray_11": $gray_11,
  "gray_12": $gray_12,
  "green_1": $green_1,
  "green_2": $green_2,
  "green_4": $green_4,
  "green_5": $green_5,
  "orange_1": $orange_1,
  "orange_2": $orange_2,
  "orange_3": $orange_3,
  "orange_4": $orange_4,
  "red_1": $red_1,
  "red_2": $red_2,
  "red_3": $red_3,
  "red_4": $red_4,
  "red_5": $red_5,
  "white": $white,
  "yellow_1": $yellow_1,
  "yellow_2": $yellow_2,
  "yellow_3": $yellow_3,
  "yellow_4": $yellow_4,
  "yellow_5": $yellow_5,
);

/** Contrasting colors of all available colors. Useful when looking for background and color combinations for a color. */
$contrasts: (
  "primary": $contrast,
  "primary_light": $contrast,
  "secondary": $contrast,
  "secondary_light": $contrast,
  "contrast": $primary,

  "positive": $positive_contrast,
  "positive_contrast": $positive,
  "negative_contrast": $negative,
  "negative": $negative_contrast,

  "background_light": $text_base,
  "background_dark": $text_base,
  "background_base": $text_base,

  "text_1": $background_base,
  "text_2": $background_base,
  "text_3": $background_base,
  "text_4": $background_base,
  "text_base": $background_base,

  "blue_1": $gray_7, // (4.53)
  "blue_2": $gray_5, // (5.13)
  "blue_3": $gray_1, // (5.14)
  "blue_4": $white,  // (9.92)
  "blue_5": $white,  // (5.08)
  "blue_6": $gray_1, // (11.02)

  "gray_1": $white,  // (11.42)
  "gray_2": $white,  // (8.45)
  "gray_3": $white,  // (7.26)
  "gray_4": $gray_1, // (4.76)
  "gray_5": $gray_10,// (3.13) -- OK
  "gray_6": $gray_7,
  "gray_7": $green_2,
  "gray_8": $yellow_2,
  "gray_9": $red_4,
  "gray_10": $gray_5,
  "gray_11": $white,  // (4.5)
  "gray_12": $gray_5, 

  "green_1": $gray_7, // (4.65)
  "green_2": $gray_7, // (5.9)
  "green_4": $gray_7, // (5.97)
  "green_5": $gray_7, // (7.39)

  "orange_1": $gray_1, // (4.9)
  "orange_2": $gray_2, // (4.77)
  "orange_3": $gray_2, // (5.94)
  "orange_4": $gray_1, // (5.87)

  "red_1": $white,     // (6.46)
  "red_2": $gray_7,    // (5.22)
  "red_3": $gray_7,    // (5.85)
  "red_4": $gray_9,    // (4.5)
  "red_5": $gray_7,    // (5.5)

  "white": $gray_2,

  "yellow_1": $gray_7,  // (9.75)
  "yellow_2": $gray_7,  // (10.76)
  "yellow_3": $gray_7,  // (11.87)
  "yellow_4": $gray_7,  // (9.95)
  "yellow_5": $gray_7,  // (11.29)
);

:export {
  primary: $primary;
  primary_light: $primary_light;
  secondary: $secondary;
  secondary_light: $secondary_light;
  contrast: $contrast;
  positive: $positive;
  positive_contrast: $positive_contrast;
  negative_contrast: $negative_contrast;
  negative: $negative;
  background_light: $background_light;
  background_dark: $background_dark;
  background_base: $background_base; 
  text_1: $text_1;
  text_2: $text_2;
  text_3: $text_3;
  text_4: $text_4;
  text_base: $text_base;
  blue_1: $blue_1;
  blue_2: $blue_2;
  blue_3: $blue_3;
  blue_4: $blue_4;
  blue_5: $blue_5;
  blue_6: $blue_6;
  gray_1: $gray_1;
  gray_2: $gray_2;
  gray_3: $gray_3;
  gray_4: $gray_4;
  gray_5: $gray_5;
  gray_6: $gray_6;
  gray_7: $gray_7;
  gray_8: $gray_8;
  gray_9: $gray_9;
  gray_10: $gray_10;
  gray_11: $gray_11;
  gray_12: $gray_12;
  green_1: $green_1;
  green_2: $green_2;
  green_4: $green_4;
  green_5: $green_5;
  orange_1: $orange_1;
  orange_2: $orange_2;
  orange_3: $orange_3;
  orange_4: $orange_4;
  red_1: $red_1;
  red_2: $red_2;
  red_3: $red_3;
  red_4: $red_4;
  red_5: $red_5;
  white: $white;
  yellow_1: $yellow_1;
  yellow_2: $yellow_2;
  yellow_3: $yellow_3;
  yellow_4: $yellow_4;
  yellow_5: $yellow_5;
}