@import "./_media.scss";

/* Adds elipsis to element */
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@function getFluidvalue($minValue, $maxValue) {
  @return calc(
    #{$minValue}px + (#{$maxValue} - #{$minValue}) *
      (
        (100vw - #{$viewport__width--minimum}px) /
          (#{$viewport__width--maximum} - #{$viewport__width--minimum})
      )
  );
}

@mixin getFluidFontSize($minValue, $maxValue) {
  font-size: #{getFluidvalue($minValue, $maxValue)};
}


@mixin setMaxFontSize($maxValue) {
  @include mediaQuery(">viewportLimit") {
    font-size: #{$maxValue}px;
  }
}



@mixin setScrollbar(
  $width,
  $thubmColor,
  $backgroundColor
) {
  /* width */
  &::-webkit-scrollbar {
    width: $width;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $backgroundColor;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $thubmColor;
    border-radius: 6px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $thubmColor;
  }
}
