@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import '@crocoder-dev/components/lib/scss/main.module.scss';

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

* {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

.centerAlignedLink {
  align-items: center;
  display: inline-flex;
  & > span {
    padding-left: 5px;
  }
}

.navigation {
  div {
    max-width: 600px !important;
  }
}