@import '../../styles/main.module.scss';

.section {
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  @include sectionPadding("desktop", true);
     
  @include mediaQuery(">=tabletLandscape", "<desktop") {
    @include sectionPadding("tabletLandscape", true);
  }

  @include mediaQuery(">=tabletPortrait", "<tabletLandscape") {
    @include sectionPadding("tabletPortrait", true);
  }

  @include mediaQuery(">=360px", "<tabletPortrait") {
    @include sectionPadding("mobile", true);
  }

  @include mediaQuery(">=mobile", "<360px") {
    @include sectionPadding("mobileMini", true);
  }

  &.removeMobile {
    @include mediaQuery("<tabletPortrait") {
      padding: 0;
      
      .content {
        max-width: calc(100vw + 6px);
        width: calc(100vw + 6px);
        left: -3px;
        position: relative;
      }
    }
  }

  &.removeVerticalPadding {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.content {
  width: 100%;
  margin: auto;
  max-width:  calc(980px + (1300 - 980) * ((100vw - 1200px) / (#{$viewport__width--maximum} - 1200)));
   
  @include mediaQuery("<desktop") {
    max-width: 100%;
  }

  @include mediaQuery(">1800px") {
    max-width: $section__content--max-width;
    width: max-content;
  }
}