@import '@crocoder-dev/components/lib/scss/main.module.scss';

.whiteBackground {
  background-color: $white;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid $gray_5;
  padding-bottom: 12px;
  margin-bottom: 30px;

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
  }

  a::after {
    border-top-width: 2px;
    border-top-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
    border-color: $gray_11;
    content: "";
    display: inline-block;
    margin-left: 0.3em;
    position: relative;
    pointer-events: none;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    transition: all 0.15s ease 0s;
    vertical-align: middle;
  }
}

.title {
  margin: 0;
  line-height: 1.3;
}

.wrapper {
  display: grid;

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
  }

  .text {
    margin: 20px 0px;
  }

  figure {
    position: relative;
    margin: 0px;
    width: 100%;
    padding-top: 56.25%;
    border-radius: 4px;
    overflow: hidden;

    div {
      top: 50%;
      left: 0px;
      transform: translateY(-50%) translateZ(0px);
      width: 100%;
      height: 100%;
      margin: 0px;
      display: block !important;
      position: absolute !important;
    }

    img {
      transition: transform .6s ease,-webkit-transform .6s ease !important;
    }

    img:hover {
      transform: scale(1.06);
    }
  }

  .h5 {
    margin: 20px 0;
  }


  .category {
    margin-bottom: 10px;
    letter-spacing: 0.07em;
    font-weight: 500;
    text-transform: uppercase;
  }
}

@include mediaQuery(">=1000px") {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 60px;

    .featured_post {
      grid-area: auto / auto / span 2 / span 2;
    }
  }
}

@include mediaQuery(">=tabletPortrait", "<1000px") {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;

    .title {
      font-size: 18px !important;
    }

    .featured_post {
      grid-area: auto / auto / span 2 / span 2;
    }
  }
}

@include mediaQuery("<tabletPortrait") {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 30px;

    .title {
      font-size: 18px !important;
    }

    .subtitle {
      display: none;
    }
  }
}