@import "@crocoder-dev/components/lib/scss/main.module.scss";

.section {
  width: 100%;
  padding-top: 0;

  @include mediaQuery("<=tabletPortrait") {
    padding-top: 0;
  }
}


.image {
  flex-basis: 35%;
  @include mediaQuery("<=tabletPortrait") {
    flex-basis: 70%;
  }
  @include mediaQuery("<=450px") {
    flex-basis: 225px;
  }
}

.flex {
  @include mediaQuery("<=tabletPortrait") {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
}

.text {
  flex-basis: 65%;
  padding-left: 7%;
  box-sizing: border-box;

  @include mediaQuery("<=tabletPortrait") {
    padding-left: 0;
    flex-basis: 100%;
  }

  b {
    color: $green_4;
    font-weight: 700;
  }
  em {
    font-style: normal;
    font-weight: 700;
  }
}

.title {
  margin: 0;
  line-height: 147%;
  text-transform: capitalize;
  @include mediaQuery("<=tabletPortrait") {
    text-align: center;
  }
}

.button {
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-top: 25px;

  min-width: 200px;

  @include mediaQuery("<=tabletPortrait") {
    width: 100%;
  }
}

.paragraph {
  line-height: 180%;

  @include mediaQuery("<=tabletPortrait") {
    text-align: justify;
  }
}

