@import '@crocoder-dev/components/lib/scss/main.module.scss';

.footer {
  & [class*=Footer_copyright__] {
    color: white;
  }
}

.icon {
  background: $white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  padding-top: 13px;
  padding-left: 13px;
  margin-left: 14px;
  text-decoration: none;
}


.image {
  cursor: pointer;
  height: auto;
  width: 225px;
    
  @include mediaQuery(">=mobile","<tabletPortrait"){
    width: 200px;
  }
}