@import '@crocoder-dev/components/lib/scss/main.module.scss';

.footer {
  & [class*=Footer_copyright__] {
    color: white;
  }
}

.icon {
  background: $white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  margin-left: 14px;
  text-decoration: none;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}


.image {
  cursor: pointer;
  height: auto;
  width: 225px;
    
  @include mediaQuery(">=mobile","<tabletPortrait"){
    width: 200px;
  }
}

.crocoderLogo {
  width: 225px;
  height: 50px;

  @include mediaQuery(">=0px","<tabletPortrait"){
    width: 200px;
  }
}