@import '@crocoder-dev/components/lib/scss/main.module.scss';

.hide {
  display: none !important;
}

.title {
  text-align: center; 
}

.subtitle {
  margin-top: 16px;
}

.section {
  min-height: 350px;


  @include mediaQuery(">=tabletPortrait", "<desktop") {
    min-height: 310px;
  }

  @include mediaQuery(">=mobile", "<tabletPortrait") {
    min-height: 370px;
  }
}

.section > div {
  width: 100%;
}

.feedback {
  margin: 60px auto 20px auto;
  width: 600px;

  @include mediaQuery(">=tabletPortrait", "<desktop") {
    margin: 50px auto 0px;
    max-width: 90%;
    text-align: center;
  }

  @include mediaQuery(">=mobile", "<tabletPortrait") {
    max-width: 100%;
    margin: 70px auto 0px;
    text-align: center;
  }
}

.grid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto auto;
  margin: 60px auto 20px auto;
  width: 790px;
  row-gap: 7px;

  @include mediaQuery(">=tabletPortrait", "<desktop") {
    margin: 20px auto;
    max-width: 90%;
    column-gap: 45px !important;
    row-gap: 10px;
  }

  @include mediaQuery(">=mobile", "<tabletPortrait") {
    max-width: 100%;
    margin: 20px auto;
    grid-template-columns: auto;
    row-gap: 10px;
  }
}

.input {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  
  &:focus-within > label {
    height: 1.17647em;
  }


  @include mediaQuery(">=mobile", "<tabletPortrait") {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
}

.button {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;

  @include mediaQuery(">=mobile", "<tabletPortrait") {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    margin-top: 20px;
  }
}

.flex {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;

  @include mediaQuery(">=mobile", "<tabletPortrait") {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}

.icon {
  margin: 0 10px;
}