@import '@crocoder-dev/components/lib/scss/main.module.scss';

.row {
  display: flex;
  width: 100%;

  @include mediaQuery(">tabletPortrait") {
    flex-direction: row;
  }

  @include mediaQuery("<=tabletPortrait") {
    flex-direction: column;
  }
}