@import '@crocoder-dev/components/lib/scss/main.module.scss';

.wrapper {
  min-height: 350px;

  & > div {
    width: auto;
  }
}

.card {
  width: auto;
  padding-left: 20px;
}

.upper {
  text-transform: uppercase;
}

.text {
  width: 60%;
  max-width: 700px;
  position: relative;
  margin: auto 0 auto auto;
}
.image {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  transform: translate(calc(-100% + 60px), -20px);
}

.link {
  font-size: inherit;
}

@include mediaQuery(">=mobile", "<800px"){
  .image {
    transform: translate(0, calc(-100% - 10px));
    width: 100%;
  }

  .card {
    padding-left: 0;
  }

  .text {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin: auto;
  }
  .wrapper {
    padding-top: 366px / 800px * 100%;
    min-height: auto;
  }
}


