@import '@crocoder-dev/components/lib/scss/main.module.scss';


.wrapper {
  padding-top: 25px;

  & > div {
    width: auto;
  }

}

.grid  {
  box-sizing: border-box;
  row-gap: 0px;

  @include mediaQuery(">=mobile", "<desktop"){
    row-gap: 15px;
  }
}

.image{
  height: auto;
  width: 100%;

  @include mediaQuery(">=mobile", "<tabletPortrait"){
    max-width: 100%;
  }
}

.typography {
  margin-bottom: 1em;

  @include mediaQuery(">=mobile", "<tabletPortrait"){
    margin-bottom: 0em;
    text-align: center;
  }
}

.buttons {
  grid-row: 4 / span 1;
  display: flex;
  width: 100%;

  & > :first-child {
    margin-right: 20px;
  }

  @include mediaQuery(">=mobile", "<tabletPortrait"){
    flex-wrap: wrap;
    & > * {
      flex-basis: 100%;
      text-align: center;
    }

    & > :first-child {
      margin-right: 0;
      margin-bottom: 20px;
    }
    grid-row: 4 / span 1;
  }
}