@import '@crocoder-dev/components/lib/scss/main.module.scss';


.wrapper {
  margin: 0 auto 60px auto;
  @include for-phones {
    margin: 0 auto 30px auto;
  }
}

.grid  {
  max-width: 1370px;
  row-gap: 25px;
  padding: 0 70px;
  margin: auto;
  box-sizing: border-box;

  @include for-desktop {
    row-gap: 25px;
  }

  @include for-tablets {
    max-width: 100%;
    padding: 0 50px;
    row-gap: 15px;
  }

  @include for-phones {
    max-width: 100%;
    padding: 0 30px;
    row-gap: 15px;
  }
}

.image{
  height: auto;
  width: 100%;


  @include for-phones {
    max-width: 100%;
  }
}

.typography {
  max-width: 520px;
  text-align: center;
  line-height: 32px;

  @include for-desktop {
    line-height: 32px;
  }

  @include for-tablets {
    line-height: 32px;
    max-width: 480px;
  }

  @include for-phones {
    max-width: 450px;
    line-height: 25px;
  }
}

.button {
  grid-row: 4 / span 1;

  @include for-phones {
    grid-row: 4 / span 1;
  }
}