@import '@crocoder-dev/components/lib/scss/main.module.scss';


.linkButton {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 25px 14px 25px;
  background-color: $primary;
  border-color: $primary;
  color: $contrast;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  &:disabled,
  &:disabled:hover {
    cursor: not-allowed;
    background-color: map-get($contrasts, "gray_12");
    color: $gray_12;
    border-color: map-get($contrasts, "gray_12");
  }

  &:hover {
    background-color: $primary_light;
    border-color: $primary_light;
  }

  &:focus {
    outline: none;
    background-color: $primary_light;
    border-color: $contrast;
  }
}


.text {
  color: $gray_1;
  line-height: 1.6;

  a {
    font-family: 'Rubik', sans-serif;
    color: $green_4;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;

    &:hover {
      color: $green_5;
    }
    
    &:focus, &:active {
      color: #72911F;
    }
    
    &:disabled {
      color: $gray_5;
    }
  }
}

.grid {
  grid-template-columns: 130px 1fr 400px;
  grid-template-rows: 65px 65px auto auto auto auto !important;
  column-gap: 20px;
  row-gap: 6px;

  @include mediaQuery("<desktop", ">=750px") {
    grid-template-columns: 86px 1fr 1fr;
    grid-template-rows: 43px 43px auto auto auto !important;
    column-gap: 18px;
  }

  @include mediaQuery(">=370px","<750px") {
    grid-template-columns: 50px 1fr 80px;
    grid-template-rows: 50px auto auto auto auto !important;
    column-gap: 4px;
    row-gap: 0px;
  }

  @include mediaQuery("<370px") {
    grid-template-columns: 25px 1fr 80px;
    grid-template-rows: 25px auto auto auto auto !important;
    column-gap: 4px;
    row-gap: 0px;
  }
}

.goBack {
  position: relative;
  left: -25px;
}

.image {
  grid-column: 1 / span 1;
  grid-row: 1 /span 2;
  display: flex;
  align-items: center;

  img {
    height: auto;
    width: 100%;
    max-width: 100%;
  }

  @include mediaQuery("<750px") {
    grid-row: 1 /span 1;
  }
}

.companyName, .companyWebsite {
  grid-column: 2 / span 1;
}

.companyName {
  grid-row: 1 / span 1;
  align-self: flex-end;
  text-transform: uppercase;

  @include mediaQuery("<750px") {
    align-self: center;
    font-size: 14px !important;
    padding-left: 2px;
  }
}

.companyWebsite {
  grid-row: 2 / span 1;
  padding-bottom: 2px;
  text-decoration: underline;

  @include mediaQuery("<750px") {
    align-self: center;
    font-size: 14px !important;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    justify-content: flex-end;
    text-align: right;
    text-transform: uppercase;
  }
}

.tags {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  font-size: 20px;

  @include mediaQuery("<desktop",  ">=750px") {
    flex-wrap: wrap !important;
    font-size: 18px;
    grid-row: 1 / span 2;
    min-width: 230px;
    align-items: baseline !important;
  }
  @include mediaQuery("<750px") {
    text-transform: uppercase;
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
    font-size: 12px;
  }
}

.noMargin {
  margin: 0 0 5px 0;
}
.title {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  margin-bottom: 20px;
  line-height: 1.8;

  @include mediaQuery("<750px") {
    grid-row: 2 / span 1;
    margin: 20px 0px 15px;
  }
}

.applyUrl {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  align-self: center;


  @include mediaQuery("<750px") {
    text-align: center;
    grid-column: 1 / span 3;
    grid-row: 5 / span 1;
  }
}

.mobileHide {
  @include mediaQuery("<750px") {
   display: none;
  }
}

.button {
  margin-top: 1em;
  display:inline-block;
  text-align: center;
  @include mediaQuery("<750px") {
   margin: 1em auto;
   display: block;
  }
}

.applyButton {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
  max-width: 273px;
  justify-self: flex-end;
 
  @include mediaQuery("<750px") {
    text-align: center;
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    justify-self: center;
    margin: 25px 0;
  }
}