@import '@crocoder-dev/components/lib/scss/main.module.scss';

.column {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  margin: 15px;
  width: 100%;

  &.text {
    color: $gray_11;
  }

  &:first-of-type {
    margin-left: 0px;
  }

  &:last-of-type {
    margin-right: 0px;
  }


  @include mediaQuery("<=tabletPortrait") {
    margin: 0;
  }

}