@import "../../styles/main.module.scss";

$input__padding: 6px 5px 7px;

.listbox {
  box-shadow: 0px 5px 20px rgba(69, 85, 22, 0.1);
  border-radius: 6px;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
  font-style: 1em;

  display: inline-block;
  min-width: 500px; // input ima vec min width pogledaj tamo

  &__item {
    padding: 6px 5px 7px;

    &__active {
      background-color: $gray_5;
    }

    &__selected {
      background-color: $green_5;
    }

    &__unselectableText {
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
    }

    display: flex;
    flex-grow: 1;
    align-items: center;
    transition: background-color 100ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    border-bottom: solid 1px $gray_5;
  }

  &__icon {
    padding-right: 5px;
  }
}
