@import '@crocoder-dev/components/lib/scss/main.module.scss';

body {
  min-height: 100vh !important;
  background-color: $white;

  #second-section {
    background-color: #F6FCFD !important;

    >div {
      >div {
        display: flex !important;
      }
    }

  }
}