@import "../../styles/main.module.scss";

$textarea__padding: 6px 0 7px;

.textarea {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(66, 76, 109, 0.29);
  color: $gray_2;
  flex-grow: 1;
  font-size: 1em;
  margin-top: 1em;
  min-width: 100%;
  padding: $textarea__padding;
  width: 100%;
  resize: none;

  &:focus {
    outline: none;
  }

  &__enableManualResize {
    resize: both;
  }

  &__wrapper {
    backface-visibility: hidden;
    background-color: $white;
    box-sizing: border-box;
    color: $gray_2;
    display: inline-flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    font-weight: lighter;
    min-width: 225px;
    padding-bottom: 1em;
    position: relative;
    z-index: 0;

    &:hover {
      .textarea__label {
        color: $gray_2;
        opacity: 1;
      }
      .textarea {
        border-bottom-color: $gray_2;
      }
    }

    @include mediaQuery("<=360px") {
      min-width: 190px;
    }

    &:before,
    &:after {
      bottom: calc(1em - 1px);
      position: absolute;
      width: 0%;
      visibility: hidden;
      z-index: 1;
      height: 0px;
      content: "";
    }

    &:before {
      background-color: $gray_6;
    }
    &:after {
      background-color: $green_2;
      height: 2px;
      left: 50%;
    }

    &:focus-within,
    &:not(.empty) {
      .textarea__label {
        font-size: 0.85em;
        height: 1.1884em;
        transform: translate(0px, 0px);
      }
    }

    &:focus-within {
      .textarea__label {
        color: $green_2;
      }

      &:after {
        height: 2px;
        width: 100%;
        left: 0;
        transition: left 200ms cubic-bezier(0, 0, 0.2, 1) 75ms,
          width 200ms cubic-bezier(0, 0, 0.2, 1) 75ms;
        visibility: visible;
      }
    }
  }

  &__messages {
    bottom: 0;
    display: flex;
    height: 1em;
    position: absolute;
    width: 100%;
    font-size: 0.75em;
    align-items: center;
  }

  &__label {
    color: #424c6d;
    display: block;
    height: 1em;
    left: 0;
    opacity: 0.7;
    position: absolute;
    text-transform: capitalize;
    transform: translate(0em, 1em);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      height 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      font-size 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    z-index: -1;
  }

  &__charCounter {
    margin-left: auto;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0; /* Firefox */
}

:-ms-textarea-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 0;
}

::-ms-textarea-placeholder {
  /* Microsoft Edge */
  opacity: 0;
}

.error {
  .textarea {
    border-bottom-color: $red_4;
    color: $red_4;

    &:focus {
      color: $gray_2;
    }
  }

  .textarea__label {
    color: $red_4;
  }

  &:hover {
    .textarea__label {
      color: $red_4;
    }

    .textarea {
      border-bottom-color: $red_4;
      color: $gray_2;
    }
  }

  &:focus-within {
    .textarea__label {
      color: $red_4;
    }

    &:after {
      background-color: $red_4;
      visibility: hidden;
    }
  }

  .message {
    color: $red_4;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;
  }
}
