org: jobboard
service: company-website
app: company-website



provider:
  name: aws
  region: eu-central-1
  runtime: nodejs12.x

plugins:
  - serverless-dotenv-plugin
  - serverless-s3-sync

custom:
  s3Sync:
    - bucketName: ${self:provider.environment.WEBSITE_S3_BUCKET}
      localDir: public