@import '../../styles/main.module.scss';

/**
  * Primary button color specification
**/
$button__primary__box-shadow: 0px 0px 4px rgba(133, 163, 42, 0.22);
$button__primary--main: $green_4;
$button__primary--hover: $green_5;
$button__primary--focus: $green_2;


/**
  * Secondary button color specification
**/
$button__secondary__box-shadow: 0px 0px 4px rgba(254, 195, 67, 0.22);
$button__secondary--main: $yellow_2;
$button__secondary--hover: $yellow_3;
$button__secondary--focus: $yellow_1;

/**
  * Outine button color specification
**/
$button__outline__background--hover: $green_5;
$button__outline__border--focus: $green_1;
$button__outline__border--hover: $green_5;
$button__outline__border--main: $green_4;
$button__outline__color--focus: $green_1;
$button__outline__color--main: $green_4;

.button {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 25px 14px 25px;

  &:disabled, &:disabled:hover {
    cursor: not-allowed;
    background-color: map-get($contrasts,"gray_12");
    color: $gray_12;
    border-color: map-get($contrasts,"gray_12");
  }
}

@mixin generateFilledButtonStyle($mainColor, $lightColor, $contrast) {
  background-color: $mainColor;
  border-color: $mainColor;
  color: $contrast;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover {
    background-color: $lightColor;
    border-color: $lightColor;
  }

  &:focus {
    outline: none;
    background-color: $lightColor;
    border-color: $contrast;
  }

}

.primary {
  @include generateFilledButtonStyle($primary, $primary_light, $contrast);
}

.secondary {
  @include generateFilledButtonStyle($secondary, $secondary_light, $contrast);
}

.sneaky {
  background-color: transparent;
  border-color: transparent;
  font-size: inherit;
  font-family: inherit;

  &:hover, &:focus {
    background-color: transparent;
    border-color: transparent;
    outline: none;
  }
}