@font-face {
  font-family: 'crocoder';
  src:  url('../fonts/crocoder.eot?hrsj22');
  src:  url('../fonts/crocoder.eot?hrsj22#iefix') format('embedded-opentype'),
    url('../fonts/crocoder.ttf?hrsj22') format('truetype'),
    url('../fonts/crocoder.woff?hrsj22') format('woff'),
    url('../fonts/crocoder.svg?hrsj22#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'crocoder' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "\e900";
  color: #5a20aa;
}
.icon-up .path1:before {
  content: "\e901";
  color: rgb(60, 56, 67);
}
.icon-up .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-twitter:before {
  content: "\e903";
}
.icon-settings:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-sass:before {
  content: "\e906";
}
.icon-rocket:before {
  content: "\e907";
  color: #fb5f2c;
}
.icon-refresh:before {
  content: "\e908";
}
.icon-react:before {
  content: "\e909";
}
.icon-pie-chart:before {
  content: "\e90a";
}
.icon-page:before {
  content: "\e90b";
}
.icon-map-marker:before {
  content: "\e90c";
}
.icon-list:before {
  content: "\e90d";
  color: #85a32a;
}
.icon-linkedin:before {
  content: "\e90e";
}
.icon-layers:before {
  content: "\e90f";
}
.icon-javascript:before {
  content: "\e910";
}
.icon-instagram:before {
  content: "\e911";
}
.icon-html5:before {
  content: "\e912";
}
.icon-heart:before {
  content: "\e913";
}
.icon-hamburger:before {
  content: "\e914";
  color: #fb5e2c;
}
.icon-github:before {
  content: "\e915";
}
.icon-fullscreen-exit:before {
  content: "\e916";
}
.icon-fullscreen:before {
  content: "\e917";
}
.icon-forward:before {
  content: "\e918";
}
.icon-facebook:before {
  content: "\e919";
}
.icon-dots:before {
  content: "\e91a";
}
.icon-discussion-bubble .path1:before {
  content: "\e91b";
  color: rgb(254, 195, 67);
}
.icon-discussion-bubble .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-discussion-bubble .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(251, 94, 44);
}
.icon-discussion-bubble .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-discussion:before {
  content: "\e91f";
  color: #5a20aa;
}
.icon-demo:before {
  content: "\e920";
}
.icon-css3:before {
  content: "\e921";
}
.icon-coffee:before {
  content: "\e922";
  color: #fec343;
}
.icon-code-color:before {
  content: "\e923";
  color: #85a32a;
}
.icon-code-bubble .path1:before {
  content: "\e924";
  color: rgb(254, 195, 67);
}
.icon-code-bubble .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-code-bubble .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-code-bubble .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-code:before {
  content: "\e928";
}
.icon-close:before {
  content: "\e929";
}
.icon-chevron-up:before {
  content: "\e92a";
}
.icon-chevron-right:before {
  content: "\e92b";
}
.icon-chevron-left:before {
  content: "\e92c";
}
.icon-chevron-down:before {
  content: "\e92d";
}
.icon-check:before {
  content: "\e92e";
}
.icon-burger:before {
  content: "\e92f";
}
.icon-bar-chart:before {
  content: "\e930";
}
.icon-arrow-right:before {
  content: "\e931";
}
.icon-arrow-left:before {
  content: "\e932";
}
.icon-apps:before {
  content: "\e933";
}
.icon-add:before {
  content: "\e934";
}
.icon-home3:before {
  content: "\e935";
}
.icon-price-tag:before {
  content: "\e936";
}
.icon-price-tags:before {
  content: "\e937";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-bell:before {
  content: "\e951";
}
.icon-printer:before {
  content: "\e954";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search1:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-bug:before {
  content: "\e999";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-list1:before {
  content: "\e9ba";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart1:before {
  content: "\e9da";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook1:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram1:before {
  content: "\ea92";
}
.icon-twitter1:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-github1:before {
  content: "\eab0";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-finder:before {
  content: "\eabf";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-linkedin1:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}