body {
  padding: 0 !important;
  font-family: "Roboto", sans-serif;
}

[aria-hidden="true"] {
  visibility: hidden;
}

.link {
  font-family: "Rubik", sans-serif;
  color: #85a32a;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.link:hover {
  color: #98b534;
}

.link:focus,
.link:active {
  color: #72911f;
}

.link:disabled {
  color: #e8e8e8;
}

.link--primary {
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 25px 14px 25px;
  background-color: #85a32a;
  border-color: #85a32a;
  color: #1e1a1a;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.link--primary:hover {
  background-color: rgba(151, 181, 52, 90);
  border-color: rgba(151, 181, 52, 90);
}
.link--primary:focus {
  outline: none;
  background-color: rgba(151, 181, 52, 90);
  border-color: #1e1a1a;
}

.link--primary:disabled,
.link--primary:disabled:hover {
  cursor: not-allowed;
  background-color: #e8e8e8;
  color: #828282;
  border-color: #e8e8e8;
}

.link--secondary {
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 25px 14px 25px;
  background-color: #fec343;
  border-color: #fec343;
  color: #1e1a1a;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.link--secondary:hover {
  background-color: rgba(254, 209, 82, 90);
  border-color: rgba(254, 209, 82, 90);
}
.link--secondary:focus {
  outline: none;
  background-color: rgba(254, 209, 82, 90);
  border-color: #1e1a1a;
}
.link--secondary:disabled,
.link--secondary:disabled:hover {
  cursor: not-allowed;
  background-color: #e8e8e8;
  color: #828282;
  border-color: #e8e8e8;
}
